@import "tailwindcss";

@theme{
    --breakpoint-lap2xl:1100px;
    --breakpoint-lap3xl:1300px;
    --breakpoint-desk2xl:1700px;
    --font-fontReg:'Amazon-regular' ;
    --font-fontBold:'Amazon-bold';
    --font-fontLight:'Amazon-light'
    
    
}

body{
        font-family:'Amazon-regular' ;

}


@font-face {
    font-family:'Amazon-regular' ;
    src: url('/public/Fonts/reg.woff2');
}


@font-face {
    font-family:'Amazon-bold' ;
    src: url('/public/Fonts/bold.woff2');
}


@font-face {
    font-family:'Amazon-light' ;
    src: url('/public/Fonts/light.woff2');
}




a{
    text-decoration: none;
}

ul{
    padding: 0;
}


img{
    max-width: 100%;
    border: 0;
}