@import "tailwindcss";

@theme{
    --breakpoint-lap2xl:1100px;
    --breakpoint-lap3xl:1300px;
    --breakpoint-desk2xl:1700px;
    --breakpoint-min-1240:1240px;
    --breakpoint-tab:720px;
    --breakpoint-large:1000px;
    --font-fontReg:'Amazon-regular';
    --font-fontBold:'Amazon-bold';
    --font-fontLight:'Amazon-light';
    --animate-navbar:animate-navbar 0.2s;


    @keyframes animate-navbar {
        0%{
            top:-44px
        }
        100%{
            top:0
        }
    }
}

body{
    font-family:'Amazon-regular' ;
    height: 100%;
    width: 100%;

}


@font-face {
    font-family:'Amazon-regular' ;
    src: url('/public/Fonts/reg.woff2');
}


@font-face {
    font-family:'Amazon-bold' ;
    src: url('/public/Fonts/bold.woff2');
}


@font-face {
    font-family:'Amazon-light' ;
    src: url('/public/Fonts/light.woff2');
}

a{
    text-decoration: none;
}

ul{
    padding: 0;
}


img{
    max-width: 100%;
    border: 0;
}

.scroll-width-none{
    scrollbar-width: none;
}


.input-range::-webkit-slider-thumb{
    pointer-events: all;
    width: 28px;
    height:28px;
    border-radius: 50%;
    background-color: white;
    border: 8px solid #007185;
    position: relative;
    appearance: none;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
} 